@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap);* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

ol, ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.container-md {
  max-width: 1024px;
  margin: 0 auto;
}

.main-header {
  padding: 0 10px;
}
.main-header .container {
  display: flex;
  justify-content: space-between;
  min-height: 110px;
  gap: 20px;
}
.main-header .container .logo {
  width: 85px;
  height: 85px;
  align-self: center;
  flex-shrink: 0;
}
.main-header .container .main-nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.main-header .container .main-nav ol {
  display: contents;
}
.main-header .container .main-nav .nav-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #464646;
  position: relative;
}
.main-header .container .main-nav .nav-link a {
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
}
.main-header .container .main-nav .nav-link.active, .main-header .container .main-nav .nav-link:hover {
  color: #0282f9;
}
.main-header .container .main-nav .nav-link.active a::after, .main-header .container .main-nav .nav-link:hover a::after {
  content: "";
  display: block;
  height: 5px;
  background-color: #0282f9;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.jumbotron {
  height: 400px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
}
.jumbotron .container {
  height: 100%;
  position: relative;
  padding: 0px 5px;
}

#comics {
  min-height: 500px;
  background-color: #1c1c1c;
  padding: 50px 5px;
  position: relative;
}
#comics .container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 1%;
}
#comics .container .current-cta {
  color: #fff;
  background-color: #0282f9;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px 30px;
  font-size: 18px;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}
#comics .container .current-cta:hover {
  cursor: pointer;
}
#comics .container .comics-card-wrap {
  width: 15.8333333333%;
  padding: 5px;
}
#comics .container .comics-card-wrap .card-header img {
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
#comics .container .comics-card-wrap .card-body {
  color: #fff;
  text-transform: uppercase;
  padding: 25px 0px;
}
#comics .container .comics-card-wrap .card-body h4 {
  font-weight: 400;
  font-size: 14px;
}
#comics .container .comics-cta {
  text-align: center;
  flex-grow: 1;
}
#comics .container .comics-cta button {
  padding: 10px 35px;
  color: #fff;
  background-color: #0282f9;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}
#comics .container .comics-cta button:hover {
  cursor: pointer;
}

#banner {
  width: 100%;
  background-color: #0282f9;
  padding: 50px 10px;
  color: #fff;
}
#banner .shop-wrap {
  display: flex;
  align-items: center;
  gap: 20px 1%;
  padding: 10px 40px;
}
#banner .shop-wrap .shop-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 19.2%;
}
#banner .shop-wrap .shop-item .shop-item-logo {
  height: 60px;
}
#banner .shop-wrap .shop-item .shop-item-logo img {
  margin: 0 auto;
}
#banner .shop-wrap .shop-item .shop-item-title {
  text-transform: uppercase;
  font-size: 14px;
  flex-grow: 1;
  white-space: nowrap;
}
#banner .shop-wrap .shop-item .shop-item-title h4 {
  font-weight: 400;
  padding: 5px;
}

@media screen and (max-width: 1200px) {
  .shop-item {
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  #banner .shop-wrap {
    flex-wrap: wrap;
  }
  #banner .shop-wrap .shop-item {
    width: 24.25%;
  }
}
@media screen and (max-width: 576px) {
  #banner .shop-wrap {
    flex-wrap: wrap;
  }
  #banner .shop-wrap .shop-item {
    width: 49.5%;
  }
}
@media screen and (max-width: 768px) {
  #comics .container .comics-card-wrap {
    width: 32.6666666667%;
  }
}
@media screen and (max-width: 576px) {
  #comics .container .comics-card-wrap {
    width: 100%;
  }
}
#banner-comic {
  background-color: #0282f9;
  min-height: 80px;
  margin-bottom: 25px;
  position: relative;
}
#banner-comic .comic-wrap {
  width: 210px;
  border: 2px solid #fff;
  position: absolute;
  bottom: 15px;
}
#banner-comic .comic-wrap .comic {
  color: #fff;
  text-transform: uppercase;
  padding: 5px 8px;
  font-size: 14px;
  background-color: #00a9d9;
  position: absolute;
}
#banner-comic .comic-wrap .comic.book {
  top: 0;
  width: 50%;
}
#banner-comic .comic-wrap .comic.gallery {
  bottom: 0;
  width: 100%;
  text-align: center;
}

#comic-description {
  color: #464646;
}
#comic-description .container-md {
  display: flex;
  gap: 2%;
}
#comic-description .container-md .comic-desc-wrap {
  width: 70%;
}
#comic-description .container-md .adversiment {
  width: 25%;
}

#contatti {
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  background-position: top;
}
#contatti .container {
  display: flex;
  background-image: url("../img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  gap: 10px;
}
#contatti .contact-wrap {
  width: 12%;
  padding: 50px 10px;
}
#contatti .contact-wrap .contact-title {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
#contatti .contact-wrap .contact-list {
  color: #959595;
  font-size: 14px;
  margin-bottom: 20px;
}
#contatti .contact-wrap .contact-list .contact-link {
  padding: 5px 0px;
}

#info {
  background-color: #303030;
  padding: 25px 5px;
}
#info .container {
  display: flex;
  align-items: center;
  gap: 20px;
}
#info .container .login {
  flex-grow: 1;
}
#info .container .login .sign-in {
  background-color: transparent;
  color: #fff;
  padding: 15px;
  border: 2px solid #0282f9;
  text-transform: uppercase;
  font-weight: 700;
}
#info .container .login .sign-in:hover {
  cursor: pointer;
}
#info .container h3 {
  color: #0282f9;
  text-transform: uppercase;
}
#info .container .social {
  display: flex;
  align-items: center;
  gap: 20px;
}
#info .container .social .social-item {
  width: 40px;
}

@media screen and (max-width: 768px) {
  #contatti .contact-wrap {
    width: 33%;
  }
}
@media screen and (max-width: 576px) {
  #info .container {
    flex-direction: column;
  }
}