#comics {
    min-height: 500px;
    background-color: #1c1c1c;
    padding: 50px 5px;

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 1%;

        .comics-cta {
            text-align: center;
            flex-grow: 1;

            button {
                padding: 10px 35px;
                @include button;
                font-size: 12px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

// comics card style

.comics-card-wrap {
    width: calc(95% / 6);
    padding: 5px;

    .card-header {
        
        img {
            aspect-ratio: 1;
            object-fit: cover;
            object-position: top;
            
        }
    }

    .card-body {
        color: #fff;
        text-transform: uppercase;
        padding: 25px 0px;

        h4 {
            font-weight: 400;
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 768px) {
    
    .comics-card-wrap {
        width: calc(98% / 3);
    }
}

@media screen and (max-width: 576px) {
    
    .comics-card-wrap {
        width: 100%;
    }
}