#comics {
    min-height: 500px;
    background-color: #1c1c1c;
    padding: 50px 5px;
    position: relative;

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 1%;

        .current-cta {
            @include button;
            padding: 15px 30px;
            font-size: 18px;
            position: absolute;
            top: 0;
            transform: translateY(-50%);

            &:hover {
                cursor: pointer;
            }
        }

        // comics card style
        
        @import 'partials/comicsCard';

        .comics-cta {
            text-align: center;
            flex-grow: 1;

            button {
                padding: 10px 35px;
                @include button;
                font-size: 12px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

// banner style

@import 'partials/banner';

// media query

@media screen and (max-width: 768px) {
    
    #comics .container .comics-card-wrap {
        width: calc(98% / 3);
    }
}

@media screen and (max-width: 576px) {
    
    #comics .container .comics-card-wrap {
        width: 100%;
    }
}