#banner-comic {
    background-color: $primaryColor;
    min-height: 80px;
    position: relative;

    .comic-wrap {
        width: 210px;
        border: 2px solid #fff;
        position: absolute;
        bottom: 15px;
        
        .comic {
            color: #fff;
            text-transform: uppercase;
            padding: 5px 8px;
            font-size: 14px;
            background-color: $comicBckg;
            position: absolute;

            &.book {
                top: 0;
                width: 50%;
            }

            &.gallery {
                bottom: 0;
                width: 100%;
                text-align: center;
            }
        }
    }
}

// section descpirpt

#comic-description {
    color: $primeFontColor;
    margin: 50px 0 50px 0;
    
    .container-md {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 2%;

        .comic-desc-wrap {
            width: 70%;
            padding: 10px 0;

            .comic-title {
                text-transform: uppercase;
                color: $fontTitle;
                margin-bottom: 20px;
            }

            .price-wrap {
                display: flex;
                align-items: center;
                background-color: $priceBckg;
                margin-bottom: 15px;
                border-bottom: 1px solid #357739;
                
                .price {
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    padding: 15px 20px;
                    border-right: 1px solid #357739;

                    & h4 {
                        color: $priceFont;

                        span {
                            color: white;
                        }
                    }

                    & h4:first-child{
                        flex-grow: 1;
                    }

                }

                .available {
                    color: white;
                    padding: 15px 20px;
                }
            }

            .comic-description {
                color: $primeFontColor;
                line-height: 1.6;
                font-weight: 500;
                font-size: 16px;
            }
        }
    
        .adversiment {
            width: 28%;
        }
    }
}

// section comic info

#comic-info {
    background-color: $sectionBckg;
    padding: 50px 10px;

    .container-md {
        display: flex;
        gap: 20px 2%;
        flex-wrap: wrap;

        .col-6 {
            width: calc(98% / 2);

            .info-title {
                font-size: 20px;
                color: $fontTitle;
                padding-bottom: 20px;
                border-bottom: 1px solid #ececec;
            }

            .info-item {
                display: flex;
                font-size: 14px;
                border-bottom: 1px solid #ececec;
                padding: 15px 0;
                font-weight: 500;

                .info-desc-title {
                    color: $fontTitle;
                    flex-basis: 30%;
                }

                .info-desc {
                    color: $comicBckg;
                    flex-basis: 70%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {

    #comic-description .container-md .comic-desc-wrap {
        width: 100%;
    }

    #comic-description .container-md .adversiment {
        width: 40%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {

    #comic-info .container-md .col-12 {
        width: 100%;
    }
}
